@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display+SC&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../images/hpbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.container {
  max-width: 1248px;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

h2 {
  font-weight: 300;
}

.header {
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 20px;
}

li {
  display: inline-block;
  padding: 10px;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
}

li a:hover {
  color: #444444;
  border-style: none solid solid none;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.active {
  color: #444444;
  border-style: none solid solid none;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.hp-characters,
.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

.character-image,
.img,
.characters,
.characterInfo {
  border: 1px solid black;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin: 5px;
}

.character-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.characterInfo {
  text-align: center;
  padding: 10px;
  margin: 0px auto;
  width: 325px;
  background-color: rgba(179, 179, 179, 0.534);
}

.characters {
  color: black;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 270px;
  background-color: rgba(179, 179, 179, 0.534);
}

form {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(179, 179, 179, 0.534);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

input {
  width: 90%;
  margin: 5px;
  padding: 10px;
  background-color: rgba(179, 179, 179, 0.534);
  border: 1px solid black;
  border-radius: 10px;
}

input[placeholder] {
  font-style: italic;
}

button {
  text-align: center;
  color: black;
  background-color: #03617294;
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  width: 150px;
  font-size: 17px;
}

button:hover {
  color: #024e5c;
  border: 1px solid #024e5c;
  background-color: rgba(179, 179, 179, 0.534);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-top: 5px;
  text-align: center;
}

.error {
  text-align: center;
  padding: 10px;
  width: 380px;
  color: rgb(116, 8, 8);
  background-color: rgba(148, 5, 5, 0.171);
  border: 1px solid rgb(116, 8, 8);
  box-shadow: 2px 2px 4px 0 rgba(105, 1, 1, 0.363);
  border-radius: 10px;
}

.form-error {
  display: none;
  color: rgb(180, 4, 4);
  margin-top: 2px;
  margin-bottom: 12px;
}

.message {
  display: none;
  background: rgba(1, 161, 1, 0.459);
  border: 1px solid rgb(0, 126, 27);
  box-shadow: 2px 2px 4px 0 rgba(32, 87, 0, 0.3);
  text-align: center;
  padding: 15px;
  color: rgb(0, 73, 6);
  border-radius: 10px;
  margin: 5px 100px 15px 100px;
}

.loader {
  margin: auto;
  border: 15px solid rgba(138, 138, 138, 0.534);
  box-shadow: 2px 2px 4px 0 rgba(126, 134, 1, 0.644);
  border-radius: 50%;
  border-top: 15px solid #03617269;
  width: 150px;
  height: 150px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 400px) {
  .characterInfo {
    text-align: center;
    padding: 10px;
    margin: 0px auto;
    width: 400px;
    background-color: rgba(179, 179, 179, 0.534);
  }
}
